.photo-grid {
  width: 100%;
  padding: 92px 48px 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  gap: 14px;
  box-sizing: border-box;
}

@media (min-width: 1025px) {
  .photo-grid {
    gap: 16px;
  }
}

@media (max-width: 900px) {
  .photo-grid {
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media (max-width: 750px) {
  .photo-grid {
    padding-top: 64px;
    padding-left: 16px;
    padding-right: 16px;
    gap: 12px;
  }
}
