.cover__block-link {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1184px;
  position: relative;
  justify-content: center;
  align-items: center;
  height: 62.5vw;
  /*may be min-max?*/
  max-height: 740px;
  background-image: url(../../../images/cover-trains.jpg);
  background-size: cover;
  background-position: center;
  text-decoration: none;
}
