.lead {
  margin: 48px 48px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 984px;
}

@media (min-width: 1050px) {
  .lead {
    margin: 56px 0 0;
  }
}

@media (max-width: 900px) {
  .lead {
    margin: 48px 0 0;
  }
}

