.intro {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 92px 48px 0;
  width: 100%;
  max-width: 1080px;
  box-sizing: border-box;
}

@media (max-width: 900px) {
  .intro {
    padding: 88px 24px 24px;
  }
}

@media (max-width: 750px) {
  .intro {
    padding: 64px 16px 16px;
  }
}
